@import "~materialize-css/dist/css/materialize.min.css";

input.modal-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.modal-input + label {
  color: #fff !important;
}

input.modal-input:focus + label {
  color: #fff !important;
}

input.modal-input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
