@import "~materialize-css/dist/css/materialize.min.css";

input.modal-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.modal-input + label {
  color: #fff !important;
}

input.modal-input:focus + label {
  color: #fff !important;
}

input.modal-input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

nav,
.page-footer {
  background-color: #00acc1;
  border-style: none;
  box-shadow: none;
}

a.social {
  padding-right: 20px;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  padding-left: 5px;
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #3581be;
}

a.instagram {
  color: rgba(128, 0, 128, 0.541);
  padding-right: 0px;
}
